{{!Creamos un contenedor}}
<div class="container p-4">
    {{!Creamos una fila para cada contenido}}
    <div class="row">
        {{!Creamos una columna de 4 unidades}}
        <div class="col-md-4 mx-auto">
            {{!Creamos una tarjeta}}
            <div class="card ">
                <div class="card-title text-center">
                    <h3>
                        AGREGAR URL
                    </h3>
                </div>
                {{!Cuerpo de la tarjeta}}
                <div class="card-body">
                    {{!Ruta del formulario y metodo a usar}}
                    <form action="/urls/add" method="POST">
                        {{!Campo para el nombre del programa}}
                        <div class="form-group">
                            <input type="text" name="url_nombre" class="form-control" placeholder="Nombre..." autofocus>
                        </div>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Campo para la version del programa}}
                        <div class="form-group">
                            <input type="url" name="url_url" class="form-control" placeholder="URL..." >
                        </div>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Campo para la descripcion del programa}}
                        <textarea name="url_detalle" rows="2" class="form-control" placeholder="Descripcion..."></textarea>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Campo para la imagen del programa}}
                        <div class="form-group">
                            <input type="text" name="url_usuario" class="form-control" placeholder="Usuario...">
                        </div>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Campo para la URL de descarga del programa}}
                        <div class="form-group">
                            <input type="text" name="url_clave" class="form-control" placeholder="Clave...">
                        </div>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Boton de guardar}}
                        <div class="form-group">
                            {{!Boton para guardar...}}
                            <button class="btn btn-success btn-block">
                                GUARDAR URL
                            </button>
                            {{!Boton para cancelar...}}
                            <a href="/urls" class="btn btn-secondary btn-block">
                                CANCELAR
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>