<div class="card">
    <div class="card-title text-center">
        <br>
        <h3>
            <b>ERROR!!!</b>
        </h3>
        <br>
            No se deben tener campos vacíos en el formulario, por favor presiona en volver y revisa que
            todos los campos estén diligenciados.
    </div>
    <div class="card-body text-center">
        <a href="javascript:history.back()" class="btn btn-secondary btn-block">
            VOLVER
        </a>
    </div>
</div>