<div class="profile-class container p-4">
    <div class="row">
        <div class="col-mdd-4 mx-auto">
            <div class="card card-text">
                <div class="card-body text-center">
                    <h3>
                        {{!}}
                        Bienvenid@ {{user.usu_nombres}} {{user.usu_apellidos}}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>