<div class="container p-4">
    <div class="row">
        <div class="col-mdd-4 mx-auto">
            <div class="card card-text">
                <div class="card-body">
                    <h3>
                        {{!}}
                        Bienvenid@ {{user.usu_nom}} {{user.usu_ape}}
                    <h4>

                    </h4>
                    <a href="/softwares" class="btn btn-primary m-4">Guarda tus software base</a>
                </div>
            </div>
        </div>
    </div>
</div>