<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">DBS Inventory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-link dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Inventario de hardware
          </a>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarPrimaryDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Celulares</a></li>
            <li><a class="dropdown-item" href="#">Impresoras</a></li>
            <li><a class="dropdown-item" href="#">Telefonos fijos</a></li>
            <li><a class="dropdown-item" href="laptops">Equipos portatiles</a></li>
            <li><a class="dropdown-item" href="#">Equipos servidores</a></li>
            <li><a class="dropdown-item" href="#">Equipos de escritorio</a></li>
            <li><a class="dropdown-item" href="#">Dispositivos rentados</a></li>
            <li><a class="dropdown-item" href="#">Dispositivos audiovisuales</a></li>
            <li><a class="dropdown-item" href="#">Dispositivos de networking</a></li>
            <li><a class="dropdown-item" href="#">Dispositivos de almacenamiento</a></li>
          </ul>
        </li>
        <li class="nav-link dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Inventario de software
          </a>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarPrimaryDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Ofimatica</a></li>
            <li><a class="dropdown-item" href="/softwares/">Software Base</a></li>
            <li><a class="dropdown-item" href="#">Software adicional</a></li>
            <li><a class="dropdown-item" href="#">Sistemas operativos</a></li>
          </ul>
        </li>
        <li class="nav-link dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarPrimaryDropdownMenuLink">
            <li><a class="dropdown-item" href="/profile/">Mi perfil</a></li>
            <li><a class="dropdown-item" href="/signup/">Crear usuario</a></li>
            <li><a class="dropdown-item" href="#">Modificar usuario</a></li>
            <li><a class="dropdown-item" href="#">Eliminar usuarios</a></li>
            <li><a class="dropdown-item" href="#">Consultar usuarios</a></li>
          </ul>
        </li>
        <li class="nav-link dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Administracion TI
          </a>
          <ul class="dropdown-menu dropdown-menu-primary" aria-labelledby="navbarPrimaryDropdownMenuLink">
            <li><a class="dropdown-item" href="/urls/">URL's TI</a></li>
            <li><a class="dropdown-item" href="#">Ambientes virtualizados</a></li>
          </ul>
        </li>
        <li class="nav-link">
          <a class="nav-link" aria-current="page" href="/laptops/">Inventario HW</a>
        </li>
        <li class="nav-link">
          <a class="nav-link" aria-current="page" href="/logout">Cerrar Sesion</a>
        </li>
        {{!}}
        {{else}}
        <li class="nav-link">
          <a class="nav-link" aria-current="page" href="/signin">Iniciar Sesion</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
</div>