{{!Formulario para loguear usuario}}
<div class="container p-4">
    {{!}}
    <div class="row">
        {{!}}
        <div class="col-md-4 mx-auto">
            {{!}}
            <div class="card text-center">
                {{!}}
                <div class="card-header">
                    {{!}}
                    <h3>
                        INICIO DE SESION
                    </h3>
                </div>
                {{!}}
                <div class="card-body">
                    {{!Creamos una imagen para el logo}}
                    <img src="https://localhost/repo_dbs_inventory/img/logo.png" alt="Logo de la app" class="card-img-top mx-auto rounded w-25 p-1">
                    {{!Espacio}}
                    <form action="/signin" method="POST" class="p-2">
                        {{!}}
                        <div class="form-group">
                            <input type="email" name="usu_cor" placeholder="Digita tu correo@db-system.com"
                                class="form-control" autofocus>
                        </div>
                        {{!Espacio}}
                        <br>
                        <div class="form-group">
                            <input type="password" name="usu_cla" placeholder="Digita tu contraseña"
                                class="form-control">
                        </div>
                        {{!Espacio}}
                        <br>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Ingresar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>